<div class="row">
  <aside class="col-md-4">
    <div class="container">
      <div class="filter-specs">
        <%= form_with(url: businesses_path, method: "get", local: true) do |f| %>
          <%= f.text_field :search_text %>
          <%= f.submit "Search" %>
        <% end %>
      </div>
    </div>
  </aside>
  <div class="business-list col-md-7">
    <% if @businesses %>
      <% @businesses.each do |business| %>
        <%= render partial: "shared/business", locals: {business: business} %>
      <% end %>
    <% end %>
  </div>
</div>
