<div class="field form-group">
  <label for="themes">Themes : </label>
  <input class="form-control" type="text" name="business[specifications][themes]" id="themes">
</div>
<div class="field form-group">
  <label for="events_covered">Events covered : </label>
  <input class="form-control" type="text" name="business[specifications][events_covered]" id="events_covered">
</div>
<div class="field form-group">
  <label for="flower_arrangements">Flower arrangements : </label>
  <input class="form-control" type="text" name="business[specifications][flower_arrangements]" id="flower_arrangements">
</div>