<div class="field form-group">
  <label for="photography_style">Photography style : </label>
  <input class="form-control" type="text" name="business[specifications][photography_style]" id="photography_style">
</div>
<div class="field form-group">
  <label for="ceremony_types">Ceremony types : </label>
  <input class="form-control" type="text" name="business[specifications][ceremony_types]" id="ceremony_types">
</div>
<div class="field form-group">
  <label for="photoshoot_types">Photoshoot types : </label>
  <input class="form-control" type="text" name="business[specifications][photoshoot_types]" id="photoshoot_types">
</div>